{% extends "base.html" %}

{% block content %}
<h1>Log in!</h1>
<!--make register page link-->
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input name="username" value="{{ username }}"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input name="password" type="password"></td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<p>If you don't have an account, you can make one <a href="/sign-up">here!</a></p>
{% endblock %}